*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/Atlases/yeo/Freesurfer/Yeo_JNeurophysiol11_FreeSurfer_README filter=lfs diff=lfs merge=lfs -text
*.label filter=lfs diff=lfs merge=lfs -text
*.gii filter=lfs diff=lfs merge=lfs -text
*.annot filter=lfs diff=lfs merge=lfs -text
*.mgz filter=lfs diff=lfs merge=lfs -text
/Atlases/yeo/Freesurfer/fsaverage/mri.2mm/README filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.xfm filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/Atlases/yeo/Freesurfer/fsaverage/scripts/csurfdir filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.done filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.local-copy filter=lfs diff=lfs merge=lfs -text
*.area filter=lfs diff=lfs merge=lfs -text
*.avg_curv filter=lfs diff=lfs merge=lfs -text
*.avg_sulc filter=lfs diff=lfs merge=lfs -text
*.avg_thickness filter=lfs diff=lfs merge=lfs -text
*.3d filter=lfs diff=lfs merge=lfs -text
*.flat filter=lfs diff=lfs merge=lfs -text
*.curv filter=lfs diff=lfs merge=lfs -text
*.inflated filter=lfs diff=lfs merge=lfs -text
*.inflated_avg filter=lfs diff=lfs merge=lfs -text
*.inflated_pre filter=lfs diff=lfs merge=lfs -text
*.orig filter=lfs diff=lfs merge=lfs -text
*.mgh filter=lfs diff=lfs merge=lfs -text
*.orig_avg filter=lfs diff=lfs merge=lfs -text
*.pial filter=lfs diff=lfs merge=lfs -text
*.pial_avg filter=lfs diff=lfs merge=lfs -text
*.smoothwm filter=lfs diff=lfs merge=lfs -text
*.sphere filter=lfs diff=lfs merge=lfs -text
*.reg filter=lfs diff=lfs merge=lfs -text
*.avg filter=lfs diff=lfs merge=lfs -text
*.sulc filter=lfs diff=lfs merge=lfs -text
*.thickness filter=lfs diff=lfs merge=lfs -text
*.white filter=lfs diff=lfs merge=lfs -text
*.white_avg filter=lfs diff=lfs merge=lfs -text
*.H filter=lfs diff=lfs merge=lfs -text
*.K filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.stats filter=lfs diff=lfs merge=lfs -text
*.xdebug_tksurfer filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
*.inflated-from-fsaverage filter=lfs diff=lfs merge=lfs -text
*.nii filter=lfs diff=lfs merge=lfs -text
*.scene filter=lfs diff=lfs merge=lfs -text
*.wb_annot filter=lfs diff=lfs merge=lfs -text
*.border filter=lfs diff=lfs merge=lfs -text
*.fig filter=lfs diff=lfs merge=lfs -text
/Atlases/yeo/MNI/Yeo_JNeurophysiol11_MNI152_README filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/Toolboxes/marsbar/examples/batch/README filter=lfs diff=lfs merge=lfs -text
*.man filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
